body{
    .add{
        width: 100%;
        padding-top: 130px;
        padding-bottom: 50px;
        .title{
            width: 85%;
            margin: 0 auto;
            p{
                padding:0px;
                margin: 0px;
                font-size: 25px;
            }
        }
        .addContainer{
            width: 90%; 
            background-color: #fff;
            border-radius: 17px;
            margin: 30px auto 0px auto;
            padding-bottom: 15px;
            -webkit-box-shadow: 0px 8px 8px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 8px 8px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 8px 8px -2px rgba(0,0,0,0.75);
            form{
                margin: 0px auto 0 auto;
                width: 90%;
                padding-top: 15px;
                section{
                    background-color: rgba(248, 248, 248, 0.37);
                    width: 100%;
                    display: flex;
                    margin: 0 0 15px 0;
                    padding-bottom: 15px;
                    flex-wrap: wrap;
                    border-radius: 5px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
                    .required::before{
                        content: "*";
                        color: red;
                    }
                    div{
                        margin: 10px auto 0 auto;
                        width: 40%;
                        padding: 25px 15px;
                        text-align: center;
                        input{
                            font-size: 15px;
                        }
                        textarea{
                            width: 100%;
                            resize: vertical;
                        }
                        button{
                            display: flex;
                            width: 90%;
                            justify-content: center;
                            padding:13px 0;
                            margin: 0 auto;
                            @include button();
                        }
                        button:hover{
                            background-color: #3c505a;
                        }
                    }
                    .extraInfo{
                        margin: 0px;
                        padding: 5px 15px;
                        width: 100%;
                        border-radius: 5px;
                        text-align: left;
                        background-color: rgba(197, 231, 243, 0.644);
                        .subtitle{
                            font-weight: bold;
                            font-size: 18px;
                        }
                        ul{
                            li{
                                list-style-type: disc;
                                font-size: 14px;
                                font-weight: lighter;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .long{
                        width: 80%;
                        margin: 0 auto;
                        text-align: left;
                        p{ 
                            text-align: center;
                            strong{
                                color: green;
                            }
                        }
                    }
                    .hideSelection, #roomSelect{
                        display: none;
                        visibility:visible;
                        opacity: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 700px) and (min-width: 500px){
    body{
        .add{
            padding-top: 120px;
            padding-bottom: 40px;
            .title{
                p{
                    padding:0px;
                    margin: 0px;
                    font-size: 21px;
                }
            }
            .addContainer{
                margin: 15px auto 0px auto;
                padding-bottom: 10px;
                form{
                    padding-top: 10px;
                    section{
                        margin: 0 0 10px 0;
                        padding-bottom: 0px;
                        div{
                            margin: 3px auto 0 auto;
                            input{
                                font-size: 14px;
                            }
                            button{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 500px)and (min-width: 50px){
    body {
        .add{
            padding-top: 115px;
            padding-bottom: 30px;
            .title{
                p{
                    font-size: 19px;
                }
            }
            .addContainer{
                width: 100%;
                margin: 10px auto 0px auto;
                form{
                    section{
                        margin: 0 0 10px 0;
                        padding-bottom: 10px;
                        div{
                            text-align: left;
                        }
                        div, .long{
                            width: 100%;
                            padding: 15px 15px;
                            input{
                                font-size: 13px;
                            }
                            textarea{
                                width: 95%;
                                height: 80px;
                                resize: vertical;
                            }
                            button{
                                width: 80%;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}