/*
body{
    #bodyContent{
        background-color: #fff;
        display: block;
        -webkit-box-shadow: 0px 0px 19px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 19px -15px rgba(0,0,0,0.75);
        box-shadow:0 11px 0px 0px white, 0 -19px 0px 0px white, 0px 0px 19px -15px rgba(0,0,0,0.75);
        width: 95%;
        margin: 9px auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        .aptos{
            margin: 10px 3px 25px 25px;
            display: inline-block;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            width: 280px;
            height: 330px;
            border-radius: 15px;
            .img{
                background-color: black;
                border-radius: 15px 15px 0 0;
                margin: 0;
                padding: 0;
                width: 280px;
                top: 0;
                left: 0;
                height: 226px;
                .price{
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    background-color: #fff;
                    border-radius: 4px 0px 4px 0;
                    padding: 3px 15px;
                }
            }
            .info{
                background-color: #fff;
                border-radius: 0px 0px 15px 15px;
                margin: 0;
                padding: 4px 0 0 0;
                height: 100px;
                width: 280px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                p{
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    max-width: 275px;
                    background-color: #fff;
                    max-height: 85px;
                }
                p:nth-child(3), p:nth-child(4){
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}
*/



body{
    #bodyContent{
        background-color: #fff;
        display: block;
        -webkit-box-shadow: 0px 0px 19px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 19px -15px rgba(0,0,0,0.75);
        box-shadow:0 11px 0px 0px white, 0 -19px 0px 0px white, 0px 0px 19px -15px rgba(0,0,0,0.75);
        width: 95%;
        margin: 9px auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        .apto-card{
            transition: all .3s ease;
            margin: 10px 3px 25px 25px;
            display: inline-block;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            width: 280px;
            height: 330px;
            border-radius: 15px;
            .aptos{
                position: relative;
            .img{
                transition: all .3s ease;
                background-color: black;
                border-radius: 15px 15px 0 0;
                margin: 0;
                padding: 0;
                width: 280px;
                top: 0;
                left: 0;
                height: 226px;
                .price{
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    background-color: #fff;
                    border-radius: 4px 0px 4px 0;
                    padding: 3px 15px;
                }
            }
            .info{
                transition: all .3s ease;
                background-color: #fff;
                border-radius: 0px 0px 15px 15px;
                margin: 0;
                padding: 4px 0 0 0;
                height: 100px;
                width: 280px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                p{
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    max-width: 275px;
                    background-color: #fff;
                    max-height: 85px;
                }
                p:nth-child(1){
                    font-weight: bold;
                }
                P:nth-child(2){
                    width: 100%;
                }
                p:nth-child(3), p:nth-child(4){
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
    //Descomentar esta seccion Si se quiere crear un hover para que las tarjetas aumenten de tamaño 
    /*.apto-card:hover{
        -webkit-box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
        width: 284px;
        height: 332;
        .aptos{
            .img,.info{
                width: 284px;
            }
            .img{
                height: 229px;
            }
            .info{
                height: 103px;
            }
        }
    }*/
    }
}



@media only screen and (max-width: 700px){
    body{
        #bodyContent{
            margin: 0;
            box-shadow: none;
            padding-top: 35px;
            width: 100%;
            .apto-card{
                width: 240px;
                height: 290px;
            .aptos{
                .img{
                    height: 205px;
                    width: 100%;
                }
                .info{
                    padding-top: 10px;
                    height: 70px;
                    width: 100%;
                    .amount{
                        display: none;
                    }
                    .comments{
                        order: 5;
                    }
                }
            }
        }
        .apto-card:hover{
            width: 240px;
            height: 290px;
            .aptos{
                .img{
                    height: 205px;
                    width: 100%;
                }
                .info{
                    padding-top: 10px;
                    height: 70px;
                    width: 100%;
                }
            }
        }
        }
    }
}

@media only screen and (max-width: 550px){
    body{
        #bodyContent{
            margin: 0;
            box-shadow: none;
            padding-top: 35px;
            width: 100%;
            .apto-card{
                display: flex;
                flex-wrap: wrap;
                margin: 0px auto 35px auto;
            }
        }
    }
}