footer{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(15, 40, 48);
    z-index: 20;
    #conteiner{
        color: #fff; 
        display: flex;
        width: 85%;
        margin:0 auto;
        padding: 20px 0;
        .items{
            a i, p{
               color: #fff; 
            }
        }
        div{
            align-items: stretch;
            flex-grow: 1;
        }
        div:nth-child(1){
            h2{
                margin: 10px 0 25px 0;
                padding: 0;
                width: 100%;
                text-align: center;
            }
            p{
                text-align: center;
            }
        }div:nth-child(2){
            flex-grow: 2;
            p{
                width: 100%;
                text-align: center;
                margin:5px 0 15px 0;
                font-weight: bold;
                font-size: 25px;
            }
            form{
                display:block;
                width: 90%;
                margin: 0 auto;
                input[type=text]{
                    width: 48%;
                    margin: 0;
                    padding: 0;
                }
                input:nth-child(3){
                    margin: 10px 0 15px 0;
                    width: 97%;
                    padding: 0;
                }
                input[type=textarea]{
                    padding: 0;
                    width: 97%;
                    padding: 0px 0 50px 0;
                }
                button{
                    display: block;
                    margin: 20px auto 0 auto;
                    padding: 0 10px;
                    width: 100px;
                }
            }
        }
        div:nth-child(3){
            display: flex;
            flex-direction: column;
            align-items: stretch;
            color: black;
            margin-right: 10px;
            p{
                text-align: center;
                width: 100%;
                margin:10px 0;
                font-weight: bold;
                font-size: 20px;
            }
            a{
                margin: 5px 0;
                color: black;
                text-align: center;
                font-size: 20px;
            }
        }
    }
} 
@media only screen and (max-width: 700px) {
    footer{
        #conteiner{
            div:nth-child(2){
                display:none;
            }
        }  
    }
}
//@media only screen and (orientation: landscape){