header{
    transition: .4s;
    z-index: 50;
    position: fixed;
    width: 100%;
    background-color: $colorHeader;
    height: 100px;
    -webkit-box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.75);
box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.75);
    .centralize{
        transition: .4s;
        //este es el espacio que tiene todo el contenedor del header
        //lo alinea en el centro vertical y horizontal al a y al .menu 
        //background-color: red;
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: space-between;
        margin: 0px auto;
        height: 100%;
        a{
            h1{
                font-size: 50px;
            }
        }
        //este le da un espacio around al nav y al contenedor del form
        //tiene un espacio del 100% porque es el espacio que le deja el H1 libre
        //alinea los elementos en el centro vertical y orizontalmente
        //tiene un space around para que no choquen con el borde derecho ni con el H1
        .menu{
            width: 100%;
            //background-color: gray;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav{
                transition: .4s;
                //solo le da un espacio del 70% para que no tome tanto espacio del form
                //al ser 100% ocuparia todo el espacio libre que deje el form y dejaria al form muy apretado
               // background-color: yellow;
                margin: 0;
                padding:0;
                width: 100%;
                text-align: center;
                min-width: 260px;
                transition: 0.5s ease;
                ul{
                    //le da una separacion around a los elementos de la lista
              //      background-color: purple;
                    margin: 0;
                    display: flex;
                    justify-content: space-around;
                    padding:0;
                    .login, .cntct{
                        display: none;
                    }
                    li{
                       // background-color: #fff;
                    transition: 0.5s ease;
                        a{
                            font-size: 16px;
                            padding: 6px;
                        }
                        a:hover{
                            font-weight: bold;
                        }
                    }
                }
            }
            #form-login{
                
                div{
                    display: none;
                }
                //toma el 100% porqu toma el espacio libre del nav 
                //al ser 100% ocupa mas del espacio necesario el form para que no este apretado
                //manda al contenedor del form a la derecha de la pagina
              //  background-color: blue;
                width: auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 50px;
                form{
                    //toma el 100% del espacio que ha dejado libre el contenedor de este form
                    //al ser menor abria espacios vacios dentro del contenedor de este
                    //manda todos sus elementos a la derecha de la pagina
                   // background-color: #fff;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    input{
                        border: .5px solid rgba(0,0,0,0);
                        width: 39%;
                        max-width: 150px;
                        border-radius: 7px;
                        margin-right: 10px;
                        height: 20px;
                    }
                    button{
                        @include button();
                        width: 70px;
                    }
                    input:hover{
                        border:.5px solid rgba(0,0,0,0.7);
                    }
                    button:hover{
                        background-color: $colorBtnsHover;
                    }
                    button:active{
                        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
                    }
                }
            }
            .contact-hiden{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    header{
        //se disminutye el alto del header al llegar a ese tamaño
        background-color: $colorHeader;
        height: 80px;
        .centralize{
            #menu{
                #form-login{
                    width: 100%;
                    top: 0px;
                    left: 0;
                    position: absolute;
                    flex-direction: column;
                    background-color: $colorHeader;
                    height: 100%;
                    justify-content: center;
                    z-index: 4;
                    justify-content: center;
                    align-items: center;
                    div{
                        display: flex;
                        font-size: 33px;
                        z-index: 10;
                        margin: 0 0 50px 0;
                        padding: 0;
                    }
                    form{
                        display: flex;
                        justify-content: center;
                        margin-top: 1vh;
                        margin-bottom: 200px;
                        align-items: center;
                        flex-direction: column;
                        input{
                            border: 0px;
                            border-bottom: 1px solid rgba(92,192,192,.8);
                            max-width: 900px;
                            width: 70%;
                            height: 30px;
                            margin-bottom: 40px;
                        }
                        button{
                            width: 40%;
                            height: 40px;
                        }
                    }
                }
                .hiden{
                    display: none;
                }
                .contact-hiden{
                    display: none;
                }
                #contact{
                    position: relative;
                    background-color: lightblue;
                    height: 100%;
                    top: 0;
                    p{
                        padding-top: 0px;
                        width: 100%;
                        text-align: center;
                        font-size: 27px;
                    }
                    form{
                        width: 80%;
                        margin: 0 auto;
                        padding-top: 0;
                        input{
                            width: 100%;
                            height: 30px;
                            margin-bottom: 2vh;
                        }
                        textarea{
                            margin-bottom: 3vh;
                            width: 100%;
                            height: 15vh;
                        }
                        button{
                            @include button();
                            margin: 0 50% 0 50%;
                            transform: translateX(-50%);
                            width: 40%;
                            height: 35px;
                        }
                    }
                }
            }
            .hide{
                //se esconde el menu para que pueda aparecer el menu hamburguesa cada que el menu se clickea
                //y tambien cuando la pantalla es menor que 700px
                display: none;
            }
            #menu{
                //cuando el menu es clickeado se cambia la clase a show para mostrar el menu
                //ocupa toda la pantalla con una posicion absoluta
                top: 65px;
                left: 0;
                position: absolute;
                background-color: $colorHeader;
                //aumentar el height para que el menu en celular se vea de tamaño completo 
                height: 100vh;
                justify-content: center;
                align-items: center;
                nav{
                    width: 100%;
                    transform: translateY(-50px);
                    ul{
                        flex-direction: column;
                        .login{
                            display: flex;
                            background-color: $colorBtns;
                            a{
                                color:white;
                            }
                        }
                        li{
                            display: flex;
                            justify-content: center;
                            margin: 9px 0;
                            a{
                                font-size: 23px;
                                width: 100%;
                                text-align: center;
                                cursor:pointer;
                            }
                        }
                        li:hover{
                            background-color: $colorBtnsHover;
                        }
                    }
                }
            }
            
        }
    }
}

@media only screen and (orientation: landscape){ 
    @media only screen and (max-width: 700px) {
    header{
        .centralize{
            #menu{
                #form-login{
                    width: 100%;
                    div{
                        visibility: hidden;
                    }
                }
                #nav{
                    ul{
                        li{
                            margin: 5px 0;
                            a{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#contact{
    margin-top: 10%;
    p{
        display: none;
    }
}
}
