body{
    .memberBody{
        transition: .6s;
        background-color: rgb(245, 245, 245);
        padding-top: 130px;
        width: 100%;
        padding-bottom: 50px;
        .content, .salute{
            transition: 1.6s;
            padding: 24px 15px 15px 15px;
            -webkit-box-shadow: 0px 8px 8px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 8px 8px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 8px 8px -2px rgba(0,0,0,0.75);
        }
        .salute{
            transition: 1.6s;
            display: flex;
            flex-direction: row;
            background-color: #fff;
            margin: auto;
            width: 80%;
            border-radius: 10px 10px 0 0;
            i, p{
                transition: 1.6s;
                padding: 0;
                margin: 0;
                font-size: 33px;
            }
            i{
                margin-right: 15px;
            }
            .yellow{
                color:rgb(255, 242, 66);
            }
            .orange{
                color:rgb(255, 179, 66);
            }
            .blue{
                color:rgb(66, 148, 255);
            }
        }
        .content{
            transition: 1.6s;
            width: 90%;
            background-color: #fff;
            padding-bottom: 40px;
            border-radius: 17px;
            margin: auto;
            .section{
                border-top: 2px solid rgba(90, 89, 89, 0.11);
                margin: 10px auto 40px auto;
                width: 95%;
                p{
                    font-size: 25px;
                    margin:0px;
                    padding: 10px 18px;
                }
                .info{
                    p{
                        font-size: 19px;
                        padding: 0;
                        margin: 6px 15px;
                    }
                }
                .list{
                    overflow: scroll;
                    background-color: gray;
                    width: 100%;
                    height: 300px;
                    table{
                        border-collapse: collapse;
                        min-width: 600px;
                        background-color: #fff;
                        width: 100%;
                        th{
                            border: .5px solid rgba(88, 88, 88, 0.521);
                        }
                        td:nth-child(1), td:nth-child(2), td:nth-child(4), td:nth-child(5), td:nth-child(6){
                            text-align: center; 
                            vertical-align: middle;
                        }
                        td{
                            border: .5px solid rgba(88, 88, 88, 0.301);
                            padding: 10px 15px;
                            button{
                                //cursor: pointer;
                                @include button();
                                margin: 0px auto 0 auto;
                                width: 90%;
                                min-width: 80px;
                                height: 35px;
                                
                            }
                        }
                        tr:hover{
                            background-color: rgb(245, 255, 209);
                        }
                        tr:first-child:hover{
                            background-color: #fff;
                        }
                    }
                }
            }
            .addingMenu{
                width: 100%;
                display: flex;
                padding:0px;
                width: 100%;
                justify-content: space-around;
                margin-bottom:25px;
                margin-top: -15px;
                a{
                    transition: .4s;
                    padding:25px 0 25px 0;
                    display: flex;
                    background-color: rgba(225, 244, 255, 0.61);
                    text-align: center;
                    justify-content: center;
                    border-radius: 15px;
                    width: 150px;
                    font-size: 18.8px;
                    border: 2px solid rgba(110, 110, 110, 0.274);
                }
                a:hover{
                    border: 2px solid rgba(201, 201, 201, 0.116);
                    background-color: rgb(248, 248, 248);
                    font-size: 19.4px;;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) and (min-width: 500px){
    body{
        .memberBody{
            padding-top: 110px;
            .salute{
                width:70%;
                justify-content: center;
                i, p{
                    font-size: 24px;
                }
                i{
                    margin-right: 10px;
                }
            }
            .content{
                width: 90%;
                padding: 13px;
                border-radius: 0 0 17px 17px;
                .section{
                    p{
                        font-size: 22px;
                        padding: 10px 10px;
                    }
                    .info{
                        p{
                            font-size: 16px;
                            padding: 0;
                            margin: 6px 8px;
                        }
                    }
                    .list{
                        height: 200px;
                        table{
                            th{
                                font-size: 17px;
                            }
                            td{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .addingMenu{
                    display: flex;
                    margin: -25 auto 0 auto;
                    a{
                        border-radius: 10px;
                        font-size: 17px;
                        width: 140px;
                        padding: 15px 0;
                    }
                    a:hover{
                        border: 1px solid rgba(201, 201, 201, 0.116);
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px)and (min-width: 50px){
    body{
        .memberBody{
            padding-top: 100px;
            .salute{
                padding: 10px 0 0 0;
                width:100%;
                justify-content: center;
                border-radius: 0px 0px 0 0;
                i, p{
                    margin: 0;
                    font-size: 20px;
                }
                i{
                    padding: 13px 13px 13px 0px;
                }
                p{
                    padding: 13px 0px 13px 0px;
                }
            }
            .content{
                width: 100%;
                padding: 10px 0 30px 0;
                margin:0;
                border-radius: 0 0 17px 17px;
                .section{
                    p{
                        font-size: 20px;
                        padding: 10px 10px;
                    }
                    .info{
                        p{
                            font-size: 15px;
                            padding: 0;
                            margin: 6px 8px;
                        }
                    }
                    .list{
                        height: 200px;
                        table{
                            th{
                                font-size: 15px;
                            }
                            td{
                                font-size: 13px;
                            }
                        }
                    }
                }
                .addingMenu{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: flex-end;
                    a{
                        margin:0 auto 0 auto;
                        border-radius: 10px;
                        font-size: 15px;
                        width: 80%;
                        padding: 15px 0;
                        margin-bottom: 10px;
                    }
                    a:hover{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}