body{
    #requestSent{
        transition: .3s;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: rgba(212, 212, 212, 0.466);
        .messageBox{
            transition: .3s;
            position: relative;
            display: inline-block;
            max-width: 900px;
            top: 54%;
            transform: translateY(-44%);
            background-color: #fff;
            width: 80%;
            height: 70%;
            margin: 0 auto;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            #visible{
                display: none;
            }
            .checkMark{
                transition: .3s;
                width: 40%;
                border-radius: 100px;
                margin: auto;
                height: 40%;
                div{
                    position: absolute;
                    top: 33%;
                    left: 45%;
                    animation-timing-function: linear;
                }
                div:nth-child(2)::before{
                    content: "";
                    position: absolute;
                    background-color: rgb(74, 255, 19);
                    height: 100%;
                    animation-name: checkMark2;
                    animation-duration: .6s;
                    animation-delay: .7s;
                    animation-fill-mode: forwards;
                }
                div:nth-child(1)::before{
                    content: "";
                    position: absolute;
                    background-color: rgb(74, 255, 19);
                    height: 100%;
                    animation-name: checkMark1;
                    animation-duration: .5s;
                    animation-delay: .2s;
                    animation-fill-mode: forwards;
                }
                div:nth-child(1){
                    display: inline-block;
                    width: 50px;
                    transform:rotate(40deg);
                    height: 25px;
                }
                div:nth-child(2){
                    display: inline-block;
                    transform: translate(25.5%, -93%) rotate(310deg);
                    width: 80px;
                    height: 25px;
                }
                @keyframes checkMark1 {
                    from {width: 0;}
                    to {width: 100%;}
                  }
                  @keyframes checkMark2 {
                    from {width: 0;}
                    to {width: 80px;}
                  }
            }
            .messageSent{
                transition: .3s;
                height: 55%;
                text-align: center;
                p {
                    width: 90%;
                    margin: 50px auto;
                    font-size: 50px;
                }
            }
        }
    }
    .contentRequest{
        transition: .3s;
        padding-top: 120px;
        .title{
            transition: .3s;
            width: 90%;
            margin: 0 auto 15px auto;
            h5{
                font-size: 35px;
                padding: 0;
                margin: 0;
            }
        }
        .formContent{
            -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
            background-color: rgb(241, 240, 240);
            width: 85%;
            margin: 0 auto;
            padding-top: 15px;
            border-radius: 17px;
            z-index: -999;
            .icon{
                z-index: 0;
                padding: 0;
                position: absolute;
                margin: 30px 50px 0 10%;
                transform: rotate(-35deg);
                i{
                    font-size: 250px;
                    color: rgba(173, 216, 230, 0.24);
                }
            }
            .information{
                z-index: 10;
                order: 2;
                width: 90%;
                padding-top: 20px;
                margin: 0 auto 0 auto;
                #red{
                    color: red;
                    font-weight: bold;
                    z-index: 50;
                }
                #blue{
                    color: rgb(0, 2, 145);
                    font-weight: bold;
                    z-index: 999;
                }
                p{
                    color: rgb(34, 34, 34);
                    font-size: 25px;
                    font-weight: bold;
                    width: 100%;
                    padding:0px;
                    margin: 0;
                    z-index: 9999;
                }
                .detail{
                    font-size: 19px;
                    font-weight: normal;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
            }
            .form{
                width: 100%;
                form{
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    margin: 0px auto 30px auto;
                    padding: 20px 0 50px 0;
                    label:nth-child(7)::before, label:nth-child(9)::before{
                        content: "*";
                        color:red;
                    }
                    label{
                        font-size: 15px;
                        font-weight: bold;
                    }
                    input, textarea, select{
                        z-index: 10;
                        background-color: #fff;
                        border: none;
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    select{
                        border-radius: 10px 0 0 10px;
                        height: 32px;
                    }
                    input, textarea{
                        border-radius: 10px;
                        padding: 7px;
                    }
                    textarea{
                        height: 130px;
                    }
                    button{
                        @include button();
                        margin: 10px auto 0 auto;
                        width: 300px;
                        height: 45px;
                    }
                    button:hover{
                        background-color: #3d525c;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) and (min-width: 500px){
    body{
        #requestSent{
            .messageBox{
                .checkMark{
                    div{
                        top: 35%;
                        left: 41%;
                    }
                }
                .messageSent{
                    height: 50%;
                    p {
                        margin: 40px auto;
                        font-size: 40px;
                    }
                }
            }
        }
        .contentRequest{
            padding-top: 100px;
            .title{
                h5{
                    font-size: 33px;
                }
            }
            .formContent{
                .information{
                    width: 85%;
                    p{
                        font-size: 24px;
                    }.detail{
                        font-size: 17px;
                    }
                }
                .form{
                    form{
                        padding: 10px 0 50px 0;
                        button{
                            margin: 10px auto 0 auto;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 500px)and (min-width: 50px){
    body{
        #requestSent{
            margin-top: -10px;
            .messageBox{
                width: 90%;
                .checkMark{
                    div{
                        top: 30%;
                        left: 39%;
                    }
                }
                .messageSent{
                    height: 45%;
                    p {
                        margin: 10px auto;
                        font-size: 35px;
                    }
                }
            }
        }
        .contentRequest{
            padding-top: 110px;
            .title{
                margin-bottom: 13px;
                h5{
                    font-size: 24px;
                }
            }
            .formContent{
                padding-top: 0px;
                padding-bottom: 0px;
                .icon{
                    i{
                        font-size: 140px;
                    }
                }
                .information{
                    width: 80%;
                    p{
                        font-size: 23px;
                    }.detail{
                        font-size: 15px;
                    }
                }
                .form{
                    form{
                        padding: 10px 0 30px 0;
                        label{
                            font-size: 12px;
                        }
                        input, textarea, select{
                            font-size: 15px;
                        }
                        textarea{
                            height: 100px;
                        }
                        button{
                            margin: 20px auto 0 auto;
                            width: 50%;
                            height: 35px;
                        }
                    }
                }
            }
        }
    }
}