body{
    #mainUserContent{
        background-color: #ffff;
        padding-top: 120px;
        padding-bottom: 30px;
        width: 100%;
        .userSalut{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 90%;
            margin: 0px auto;
            padding: 0 0 0px 0;
            div{
                margin: 10px 0;
                p{   
                    margin: 0px;
                    padding: 0px;
                }
            }
            .userName{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                p{
                    margin: 0 0 0 5px;
                    padding: 0;
                    font-size: 25px;
                }
            }
            .userApartment{
                p{
                    font-size: 19px;
                }
            }
        }
        .content{

            border-radius: 10px;
            background-color: #fff;

            box-shadow: -0px 1px 13px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 1px 13px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 13px -7px rgba(0,0,0,0.75);

            width: 95%;
            margin: 0 auto;
            display: flex;
            margin-top: 5px;
            .summarize{

                border-radius: 12px 0 0 12px;
                background-color: rgba(240, 240, 240, 0.432);
                transition: 0.3s;
                width: 60%;
                .title{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    margin: 30px 10% 20px 10%;
                    h4{
                        transition: 0.3s;
                        color: rgb(46, 46, 46);
                        margin: 0;
                        font-size: 30px;
                        width: 100%;
                    } 
                    p{
                        transition: 0.3s;
                        color: rgb(31, 31, 31);
                        font-size: 20px;
                        margin: 20px 0 0 0;
                    }
                    .label{
                        font-weight: bold;
                    }
                    .lastMonth{
                        font-style: italic;
                    }
                }
                table{
                    margin: 0 auto 40px auto;
                    width: 80%;
                    border-collapse: collapse;
                    color: rgb(44, 44, 44);
                    tr{
                        transition: .6s;
                        font-size: 18px;
                        th{
                            height: 30px;
                        }
                        th:first-child{
                            text-align: left;
                        }
                        th:last-child{
                            text-align: right;
                        }
                    }
                    tr:hover{
                        background-color: rgb(250, 250, 250);
                    }
                    tr:last-child{
                        transition: .3s;
                        background-color: rgba(81, 163, 240, 0.24);
                    }
                }
            }
            .summarize:hover{
                background-color: rgb(230, 230, 230);
                .title{
                    h4, p{
                        color: black;
                    }
                }
                table{
                    color: black;
                }
            }
            .information{
                border-radius: 0 12px 12px 0;
                background-color: rgba(173, 216, 230, 0.562);
                //background-color: rgba(24, 180, 172, 0.418);
                width: 45%;
                min-width: 350px;
                table{
                    tr{
                        font-size: 16px;
                        th:last-child{
                            text-align: left;
                        }
                    }
                    tr:last-child{
                        background-color: rgba(172, 225, 243, 0);
                    }
                    tr:last-child:hover{
                        background-color: rgb(214, 212, 212);
                    }
                }
            }
            .information:hover{
                background-color: rgb(158, 209, 226);
                //background-color: rgba(26, 168, 161, 0.664);
            }
        }
    }
}
@media only screen and (max-width: 700px) and (min-width: 500px){
    body{
        #mainUserContent{
            padding-top: 90px;
            .userSalut{
                width: 80%;
                //height: 60px;
                .userName{
                    p{
                        font-size: 22px;
                        margin-left: 4px;
                    }
                }
                .userApartment{
                    p{
                        font-size: 17px;
                    }
                }
            }
            .content{
                margin: 0px auto;
                width: 85%;
                display: block;
                .summarize{
                    border-radius: 12px 12px 0 0;
                    padding-bottom: 30px;
                    width: 100%;
                    .title{
                        padding-top: 10px;
                        margin-top: 0px;
                        h4{
                            text-align: center;
                            font-size: 27px;
                        }
                        p{
                            font-size: 19px;
                        }
                    }
                    table{
                        tr{
                            font-size: 17px;
                        }
                    }
                }
                .information{
                    border-radius: 0 0 12px 12px;
                    min-width: 0px;
                    table{
                        tr{
                            th{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

    @media only screen and (max-width: 500px)and (min-width: 50px){
        body{
            #mainUserContent{
                padding-top: 90px;
                .userSalut{
                    width: 95%;
                    .userName{
                        p{
                            font-weight: bold;
                            font-size: 15px;
                            margin-left: 3px;
                        }
                    }
                    .userApartment{
                        p{
                            font-size: 16px;
                        }
                    }
                }
                .content{
                    width: 100%;
                    display: block;
                    .summarize{
                        width: 100%;
                        padding-bottom: 30px;
                        .title{
                            padding-top: 20px;
                            margin-top: 0px;
                            h4{
                                text-align: center;
                                font-size: 23px;
                            }
                            p{
                                font-size: 15px;
                            }
                        }
                        table{
                            tr{
                                font-size: 15px;
                                color: black;
                            }
                        }
                    }
                    .information{
                        min-width: 0px;
                        table{
                            tr{
                                th{
                                font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }