$colorMenu: #000;
$colorHeader: #efefef;
$colorBtns: #2f3f47;
$colorBtnsHover: #3c505a;
$colorFontSearchPanel:rgb(68, 66, 66);

$color: #caebf2;
$colorCosas: #ff2b3f;


$f: #99d3df;
$e: #88bbd6;
$r: #cdcdcd;
$t: #e9e9e9;