@import "variables";
@import "mixins";
@import "header";
@import "burgerMenu";
@import "optionsBody";
@import "banner";
@import "footer";
@import "bodyContent";
@import "contentAptos";
@import "userContent";
@import "paymentHistory";
@import "requestBody";
@import "memberMainPage";
@import "addElement";
header{
    z-index: 99999;
}
textarea{
    resize: none;
}
#error-login{
    width: 100%;
    padding: 20px 0;
    -webkit-box-shadow: 0px 10px 21px 4px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 10px 21px 4px rgba(255,255,255,0.8);
    box-shadow: 0px 10px 21px 4px rgba(255,255,255,0.8);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: red;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body {
    //testing style
    background-color: rgb(245, 245, 245);
    //height:3000px;
}
input:focus, button:focus, select:focus, textarea:focus{
    outline: none;
}
//al hacer tap en cualquier enlace boton etc no se pondra un fondo azul por default indicador que se ha hecho tap
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }