@import "variables";
@import "header";
@import "burgerMenu";
@import "optionsBody";
@import "banner";
@import "footer";
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body {
    height:3000px;
}
input:focus, button:focus, select:focus{
    outline: none;
}
//al hacer tap en cualquier enlace boton etc no se pondra un fondo azul por default indicador que se ha hecho tap
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }