header {
  transition: .4s;
  z-index: 9990;
  position: fixed;
  width: 100%;
  background-color: #efefef;
  height: 100px;
  -webkit-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px -2px rgba(0, 0, 0, 0.75); }
  header .centralize {
    transition: .4s;
    display: flex;
    width: 93%;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    height: 100%; }
    header .centralize a h1 {
      font-size: 50px; }
    header .centralize .menu {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .centralize .menu nav {
        transition: .4s;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        min-width: 260px;
        transition: 0.4s ease; }
        header .centralize .menu nav ul {
          margin: 0;
          display: flex;
          justify-content: space-around;
          padding: 0; }
          header .centralize .menu nav ul .login, header .centralize .menu nav ul .cntct {
            display: none; }
          header .centralize .menu nav ul li {
            font-weight: bold;
            transition: 0.4s ease; }
            header .centralize .menu nav ul li a {
              transition: .3s;
              font-size: 16px;
              padding: 6px; }
            header .centralize .menu nav ul li a:hover {
              color: #355a6d; }
      header .centralize .menu #form-login {
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px; }
        header .centralize .menu #form-login div {
          display: none; }
        header .centralize .menu #form-login form {
          width: 100%;
          display: flex;
          justify-content: flex-end; }
          header .centralize .menu #form-login form input {
            border: 0.5px solid rgba(0, 0, 0, 0);
            width: 39%;
            max-width: 150px;
            border-radius: 7px;
            margin-right: 10px;
            height: 20px; }
          header .centralize .menu #form-login form button {
            border-radius: 7px;
            background-color: #2f3f47;
            border: 0px;
            color: #fff;
            cursor: pointer;
            transition: all .3s;
            box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.75);
            width: 70px; }
          header .centralize .menu #form-login form input:hover {
            border: 0.5px solid rgba(0, 0, 0, 0.7); }
          header .centralize .menu #form-login form button:hover {
            background-color: #3c505a; }
          header .centralize .menu #form-login form button:active {
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }
      header .centralize .menu .contact-hiden {
        display: none; }

@media only screen and (max-width: 700px) {
  header {
    background-color: #efefef;
    height: 100px; }
    header .centralize #menu #form-login {
      width: 100%;
      top: 0px;
      left: 0;
      position: absolute;
      flex-direction: column;
      background-color: #efefef;
      height: 100%;
      justify-content: center;
      z-index: 4;
      justify-content: center;
      align-items: center; }
      header .centralize #menu #form-login div {
        display: flex;
        font-size: 33px;
        z-index: 10;
        margin: 0 0 50px 0;
        padding: 0; }
      header .centralize #menu #form-login form {
        display: flex;
        justify-content: center;
        margin-top: 1vh;
        margin-bottom: 200px;
        align-items: center;
        flex-direction: column; }
        header .centralize #menu #form-login form input {
          border: 0px;
          border-bottom: 1px solid rgba(92, 192, 192, 0.8);
          max-width: 900px;
          width: 70%;
          height: 30px;
          margin-bottom: 40px; }
        header .centralize #menu #form-login form button {
          width: 40%;
          height: 40px; }
    header .centralize #menu .hiden {
      display: none; }
    header .centralize #menu .contact-hiden {
      display: none; }
    header .centralize #menu #contact {
      position: relative;
      background-color: #efefef;
      height: 100%;
      top: 30px; }
      header .centralize #menu #contact p {
        padding-top: 0px;
        width: 100%;
        text-align: center;
        font-size: 27px; }
      header .centralize #menu #contact form {
        width: 80%;
        margin: 0 auto;
        padding-top: 0; }
        header .centralize #menu #contact form input {
          width: 100%;
          height: 30px;
          margin-bottom: 10px; }
        header .centralize #menu #contact form textarea {
          margin-bottom: 25px;
          width: 100%;
          height: 60px; }
        header .centralize #menu #contact form button {
          border-radius: 7px;
          background-color: #2f3f47;
          border: 0px;
          color: #fff;
          cursor: pointer;
          transition: all .3s;
          box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.75);
          margin: 0 50% 0 50%;
          transform: translateX(-50%);
          width: 40%;
          height: 35px; }
    header .centralize .hide {
      display: none; }
    header .centralize #menu {
      top: 40px;
      z-index: -1;
      left: 0;
      position: absolute;
      background-color: #efefef;
      height: 115vh;
      justify-content: center;
      align-items: center; }
      header .centralize #menu nav {
        width: 100%;
        transform: translateY(-50px); }
        header .centralize #menu nav ul {
          flex-direction: column; }
          header .centralize #menu nav ul .login {
            display: flex;
            background-color: #2f3f47; }
            header .centralize #menu nav ul .login a {
              color: white; }
          header .centralize #menu nav ul li {
            display: flex;
            justify-content: center;
            margin: 9px 0; }
            header .centralize #menu nav ul li a {
              font-size: 23px;
              width: 100%;
              text-align: center;
              cursor: pointer; }
          header .centralize #menu nav ul li:hover {
            background-color: #3c505a; } }
@media only screen and (orientation: landscape) and (max-width: 700px) {
  header .centralize #menu #form-login {
    width: 100%; }
    header .centralize #menu #form-login div {
      visibility: hidden; }
  header .centralize #menu #nav ul li {
    margin: 5px 0; }
    header .centralize #menu #nav ul li a {
      font-size: 30px; } }
@media only screen and (orientation: landscape) {
  #contact {
    margin-top: 10%; }
    #contact p {
      display: none; } }
#menu-hamburger {
  transition: .4s;
  display: none;
  position: absolute;
  top: 37px;
  right: 7%;
  width: 40px;
  height: 35px;
  margin: 0px 0 20px 20px;
  cursor: pointer;
  z-index: 100; }
  #menu-hamburger .bar {
    height: 8px;
    width: 100%;
    background-color: #000;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease; }

.burger #bar2 {
  margin: 2px 0; }
.burger #bar1 {
  transform: translateY(-4px); }
.burger #bar3 {
  transform: translateY(4px); }

.burger-close #bar2 {
  display: none; }
.burger-close #bar1 {
  transform: translateY(6px) rotateZ(-45deg); }
.burger-close #bar3 {
  transform: translateY(-1px) rotateZ(45deg); }

@media only screen and (max-width: 700px) {
  #menu-hamburger {
    display: block; } }
body #options {
  transition: 1s;
  color: #444242;
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -5px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -5px 16px -2px rgba(0, 0, 0, 0.75);
  padding: 15px 35px 30px 35px; }
  body #options #form {
    transition: .4s;
    padding: 25px;
    background-color: #efefef; }
    body #options #form label {
      padding: 3px 10px;
      text-align: left; }
    body #options #form h2 {
      padding: 0 0 10px 0;
      margin: 0;
      font-size: 26px; }
    body #options #form div {
      display: inline-flex;
      width: 90%;
      min-width: 500px;
      justify-content: space-between;
      align-items: center; }
    body #options #form button {
      border: 0px;
      margin: 15px 0 5px 0;
      padding: 8px 55px;
      display: inline-flex;
      text-align: center;
      align-items: center;
      margin-left: 15px;
      transition: .3s ease;
      background-color: #2f3f47;
      color: #fff;
      border-radius: 10px; }
    body #options #form button:hover {
      background-color: #7e7d7d; }
    body #options #form .default {
      display: none; }
    body #options #form #advanced div {
      width: 60%;
      min-width: 550px; }
      body #options #form #advanced div label:nth-child(2) input[type=text] {
        text-align: right; }

@media only screen and (max-width: 700px) {
  body #options {
    padding: 0; }
    body #options #form {
      padding: 10px; }
      body #options #form h2 {
        font-size: 23px; }
      body #options #form button {
        display: flex;
        margin: 15px auto;
        justify-content: center;
        padding: 10px 0;
        width: 80%;
        max-width: 200px; }
      body #options #form div {
        flex-direction: column;
        min-width: 100px;
        align-items: flex-start; }
        body #options #form div label {
          padding-bottom: 10px; }
      body #options #form #advanced {
        padding-bottom: 50px;
        min-width: 0px; }
        body #options #form #advanced div {
          width: 60%;
          min-width: 0px; }
          body #options #form #advanced div label:nth-child(1) {
            min-width: 0px;
            width: 100%; }
            body #options #form #advanced div label:nth-child(1) input[type=date] {
              min-width: 100px;
              width: 100%; }
          body #options #form #advanced div label:nth-child(2) {
            min-width: 130px;
            margin-top: 20px; }
            body #options #form #advanced div label:nth-child(2) i {
              padding-right: 20px; }
            body #options #form #advanced div label:nth-child(2) input[type=text] {
              text-align: right;
              width: 70%;
              max-width: 100px; } }
#banner {
  transition: .6s;
  background-color: #efefef;
  width: 100%;
  height: 350px;
  padding-top: 100px;
  z-index: -1; }
  #banner .img {
    transition: .6s;
    position: relative;
    margin: 0 auto;
    width: 100%;
    background-color: gray;
    height: 350px;
    background-image: url(../img/mainBanner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

@media only screen and (max-width: 700px) {
  #banner {
    padding-top: 80px;
    height: 200px; }
    #banner .img {
      height: 200px; } }
@media only screen and (max-height: 400px) and (max-width: 700px) {
  #banner {
    height: 150px; }
    #banner .img {
      height: 150px; } }
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0f2830;
  z-index: 20; }
  footer #conteiner {
    color: #fff;
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0; }
    footer #conteiner .items a i, footer #conteiner .items p {
      color: #fff; }
    footer #conteiner div {
      align-items: stretch;
      flex-grow: 1; }
    footer #conteiner div:nth-child(1) {
      padding-top: 37px; }
      footer #conteiner div:nth-child(1) h2 {
        margin: 10px 0 25px 0;
        padding: 0;
        width: 100%;
        text-align: center; }
      footer #conteiner div:nth-child(1) p {
        text-align: center; }
    footer #conteiner div:nth-child(2) {
      flex-grow: 2; }
      footer #conteiner div:nth-child(2) p {
        width: 100%;
        text-align: center;
        margin: 5px 0 15px 0;
        font-weight: bold;
        font-size: 25px; }
      footer #conteiner div:nth-child(2) form {
        display: block;
        width: 90%;
        margin: 0 auto; }
        footer #conteiner div:nth-child(2) form input[type=text] {
          width: 48%;
          margin: 0;
          padding: 0; }
        footer #conteiner div:nth-child(2) form input:nth-child(3) {
          margin: 10px 0 15px 0;
          width: 97%;
          padding: 0; }
        footer #conteiner div:nth-child(2) form textarea {
          padding: 500px;
          width: 97%;
          padding: 0px 0 50px 0;
          min-width: 390px;
          max-width: 70vw;
          max-height: 70px;
          min-height: 20px;
          resize: none; }
        footer #conteiner div:nth-child(2) form button {
          display: block;
          margin: 10px auto 0 auto;
          border-radius: 7px;
          background-color: #2f3f47;
          border: 0px;
          color: #fff;
          cursor: pointer;
          transition: all .3s;
          box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.75);
          width: 50%;
          max-width: 250px;
          height: 30px;
          font-weight: bold; }
        footer #conteiner div:nth-child(2) form button:hover {
          background-color: #3c505a; }
    footer #conteiner div:nth-child(3) {
      padding-top: 35px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      color: black;
      margin-right: 10px; }
      footer #conteiner div:nth-child(3) p {
        text-align: center;
        width: 100%;
        margin: 10px 0;
        font-weight: bold;
        font-size: 20px; }
      footer #conteiner div:nth-child(3) a {
        margin: 5px 0;
        color: black;
        text-align: center;
        font-size: 20px; }

@media only screen and (max-width: 700px) {
  footer #conteiner div:nth-child(2) {
    display: none; } }
body #bodyContent {
  transition: .3s;
  background-color: #fff;
  display: block;
  -webkit-box-shadow: 0px 0px 19px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0 11px 0px 0px white, 0 -19px 0px 0px white, 0px 0px 19px -15px rgba(0, 0, 0, 0.75);
  width: 95%;
  margin: 9px auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
    /*.apto-card:hover{
        -webkit-box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
        width: 284px;
        height: 332;
        .aptos{
            .img,.info{
                width: 284px;
            }
            .img{
                height: 229px;
            }
            .info{
                height: 103px;
            }
        }
    }*/ }
  body #bodyContent .apto-card {
    transition: all .3s ease;
    margin: 10px 3px 25px 25px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 280px;
    height: 330px;
    border-radius: 15px; }
    body #bodyContent .apto-card .aptos {
      position: relative; }
      body #bodyContent .apto-card .aptos .img {
        transition: all .3s ease;
        background-color: black;
        border-radius: 15px 15px 0 0;
        margin: 0;
        padding: 0;
        width: 280px;
        top: 0;
        left: 0;
        height: 226px; }
        body #bodyContent .apto-card .aptos .img .price {
          position: absolute;
          margin: 0;
          padding: 0;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 14px 0px 4px 0;
          padding: 3px 15px; }
        body #bodyContent .apto-card .aptos .img .rooms {
          position: absolute;
          right: 0;
          margin: 0;
          padding: 0;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 0 14px 0px 4px;
          padding: 3px 15px; }
      body #bodyContent .apto-card .aptos .info {
        transition: all .3s ease;
        background-color: #fff;
        border-radius: 0px 0px 15px 15px;
        margin: 0;
        padding: 4px 0 0 0;
        height: 100px;
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; }
        body #bodyContent .apto-card .aptos .info p {
          text-align: center;
          margin: 0;
          padding: 0;
          max-width: 275px;
          background-color: #fff;
          max-height: 85px; }
        body #bodyContent .apto-card .aptos .info p:nth-child(1) {
          font-weight: bold; }
        body #bodyContent .apto-card .aptos .info P:nth-child(2) {
          width: 100%; }
        body #bodyContent .apto-card .aptos .info p:nth-child(3), body #bodyContent .apto-card .aptos .info p:nth-child(4) {
          font-weight: bold;
          font-size: 18px; }
body .no-results {
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  margin-top: -20px; }
  body .no-results .message {
    color: rgba(7, 7, 7, 0.4);
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 30px 0; }
    body .no-results .message p {
      margin: 0;
      padding: 0; }
    body .no-results .message p:nth-child(1) {
      font-size: 35px; }
    body .no-results .message p:nth-child(2) {
      margin: 20px 0;
      font-size: 54px; }
    body .no-results .message p:nth-child(3) {
      font-size: 20px; }

@media only screen and (max-width: 700px) {
  body #bodyContent {
    margin: 0;
    box-shadow: none;
    padding-top: 35px;
    width: 100%; }
    body #bodyContent .apto-card {
      width: 240px;
      height: 290px; }
      body #bodyContent .apto-card .aptos .img {
        height: 205px;
        width: 100%; }
      body #bodyContent .apto-card .aptos .info {
        padding-top: 10px;
        height: 70px;
        width: 100%; }
        body #bodyContent .apto-card .aptos .info .amount {
          display: none; }
        body #bodyContent .apto-card .aptos .info .comments {
          order: 5; }
    body #bodyContent .apto-card:hover {
      width: 240px;
      height: 290px; }
      body #bodyContent .apto-card:hover .aptos .img {
        height: 205px;
        width: 100%; }
      body #bodyContent .apto-card:hover .aptos .info {
        padding-top: 10px;
        height: 70px;
        width: 100%; } }
@media only screen and (max-width: 550px) {
  body #bodyContent {
    margin: 0;
    box-shadow: none;
    padding-top: 35px;
    width: 100%; }
    body #bodyContent .apto-card {
      display: flex;
      flex-wrap: wrap;
      margin: 0px auto 35px auto; }
      body #bodyContent .apto-card .aptos .info .comments, body #bodyContent .apto-card .aptos .info #date {
        font-size: 15px; }
      body #bodyContent .apto-card .aptos .info .details {
        font-size: 13px; }
    body #bodyContent .no-results .message {
      padding: 0 10px; }
      body #bodyContent .no-results .message p:nth-child(1) {
        font-size: 20px; }
      body #bodyContent .no-results .message p:nth-child(2) {
        font-size: 32px; }
      body #bodyContent .no-results .message p:nth-child(3) {
        font-size: 14px; } }
body #container-info {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  flex-wrap: wrap;
  padding-top: 130px;
  justify-content: center;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff; }
  body #container-info .content {
    display: flex;
    align-content: stretch;
    width: 100%;
    max-width: 1500px;
    background-color: #fff; }
    body #container-info .content .info {
      background-color: #fff;
      padding: 20px 40px 40px 40px; }
      body #container-info .content .info h3 {
        font-size: 35px;
        padding: 0 0 14px 0;
        margin: 0; }
      body #container-info .content .info h5 {
        font-size: 20px;
        padding: 0 0 15px 0;
        margin: 0; }
      body #container-info .content .info p {
        font-size: 17px; }
      body #container-info .content .info .amenities {
        font-weight: bold;
        font-size: 19px; }
    body #container-info .content .img-container {
      top: 110px;
      position: -webkit-sticky;
      position: sticky;
      margin-top: 25px;
      min-width: 470px;
      height: 450px;
      overflow: hidden;
      background-color: #fff;
      width: 42%; }
      body #container-info .content .img-container .slideshow-container {
        position: relative;
        width: 100%;
        height: 100%;
        /*+++++++++++++++++animacion fade in++++++++++++++++++*/ }
        body #container-info .content .img-container .slideshow-container .mySlides {
          display: flex;
          width: 100%;
          height: 100%; }
          body #container-info .content .img-container .slideshow-container .mySlides img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        body #container-info .content .img-container .slideshow-container .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s; }
@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
        body #container-info .content .img-container .slideshow-container #prev, body #container-info .content .img-container .slideshow-container #next {
          cursor: pointer;
          position: absolute;
          top: 300px;
          width: auto;
          margin-top: -105px;
          padding: 10px;
          color: rgba(7, 7, 7, 0.8);
          font-weight: bold;
          font-size: 38px;
          user-select: none; }
          body #container-info .content .img-container .slideshow-container #prev i, body #container-info .content .img-container .slideshow-container #next i {
            margin-top: 5px; }
        body #container-info .content .img-container .slideshow-container #next {
          transform: translateX(427px);
          border-radius: 10px 0px 0px 10px; }
        body #container-info .content .img-container .slideshow-container #prev {
          border-radius: 0px 10px 10px 0px; }
        body #container-info .content .img-container .slideshow-container #prev:hover, body #container-info .content .img-container .slideshow-container #next:hover {
          background-color: white; }
          body #container-info .content .img-container .slideshow-container #prev:hover i, body #container-info .content .img-container .slideshow-container #next:hover i {
            color: #070707; }
  body #container-info .apply {
    background-color: gray;
    height: 100px;
    width: 100%;
    margin-bottom: 30px; }

@media only screen and (max-width: 880px) {
  body #container-info {
    padding-top: 120px; }
    body #container-info .content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body #container-info .content .img-container {
        top: 0;
        position: relative;
        margin-top: 0;
        min-width: 0;
        width: 100%;
        height: 450px; }
        body #container-info .content .img-container .slideshow-container #next {
          transform: translateX(0px);
          right: 0;
          border-radius: 3px 0 0 3px; }
        body #container-info .content .img-container .slideshow-container #prev, body #container-info .content .img-container .slideshow-container #next {
          top: 280px; }
    body #container-info .apply {
      margin-bottom: 15x; } }
@media only screen and (max-width: 540px) and (min-width: 400px) {
  body #container-info {
    padding-top: 100px; }
    body #container-info .content .img-container {
      top: 0;
      position: relative;
      margin-top: 0;
      min-width: 0;
      width: 100%;
      height: 450px; }
      body #container-info .content .img-container .slideshow-container #next {
        transform: translateX(0px);
        right: 0;
        border-radius: 3px 0 0 3px; }
      body #container-info .content .img-container .slideshow-container #prev, body #container-info .content .img-container .slideshow-container #next {
        top: 290px; }
    body #container-info .apply {
      margin-bottom: 10px; } }
@media only screen and (max-width: 400px) and (min-width: 270px) {
  body #container-info {
    padding-top: 80px; }
    body #container-info .content .img-container {
      min-width: 50px;
      width: 250px;
      height: 380px; }
      body #container-info .content .img-container .slideshow-container #next {
        right: 43%;
        transform: translateX(110px); }
      body #container-info .content .img-container .slideshow-container #next, body #container-info .content .img-container .slideshow-container #prev {
        top: 250px; }
    body #container-info .content .info h3 {
      font-size: 30px; }
    body #container-info .content .info h5 {
      font-size: 18px; }
    body #container-info .content .info p {
      font-size: 14px; }
    body #container-info .content .info .amenities {
      font-size: 16px; }
    body #container-info .apply {
      margin-bottom: 0px; } }
@media only screen and (max-width: 270px) and (min-width: 50px) {
  body #container-info {
    padding-top: 80px; }
    body #container-info .content .img-container {
      min-width: 50px;
      width: 100%;
      height: 300px; }
      body #container-info .content .img-container .slideshow-container #next {
        right: 0;
        transform: translateX(0px); }
      body #container-info .content .img-container .slideshow-container #next, body #container-info .content .img-container .slideshow-container #prev {
        width: 14px;
        height: 24px;
        margin-top: -130px;
        font-size: 24px;
        padding-top: 3px; }
    body #container-info .content .info h3 {
      font-size: 25px; }
    body #container-info .content .info h5 {
      font-size: 15px; }
    body #container-info .content .info p {
      font-size: 12px; }
    body #container-info .content .info .amenities {
      font-size: 13px; } }
body #mainUserContent {
  background-color: #ffff;
  padding-top: 120px;
  width: 100%; }
  body #mainUserContent .userSalut {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 0px auto;
    padding: 0 0 0px 0; }
    body #mainUserContent .userSalut div {
      margin: 10px 0; }
      body #mainUserContent .userSalut div p {
        margin: 0px;
        padding: 0px; }
    body #mainUserContent .userSalut .userName {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      body #mainUserContent .userSalut .userName p {
        margin: 0 0 0 5px;
        padding: 0;
        font-size: 25px; }
  body #mainUserContent .userApartment {
    width: 90%;
    margin: 0 auto; }
    body #mainUserContent .userApartment p {
      font-size: 19px; }
  body #mainUserContent .content {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 13px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 13px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 13px -7px rgba(0, 0, 0, 0.75);
    width: 95%;
    margin: 7px auto 30px auto;
    display: flex; }
    body #mainUserContent .content .summarize {
      border-radius: 12px 0 0 12px;
      background-color: rgba(240, 240, 240, 0.432);
      transition: 0.3s;
      width: 60%; }
      body #mainUserContent .content .summarize .title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 30px 10% 20px 10%; }
        body #mainUserContent .content .summarize .title h4 {
          transition: 0.3s;
          color: #2e2e2e;
          margin: 0;
          font-size: 30px;
          width: 100%; }
        body #mainUserContent .content .summarize .title p {
          transition: 0.3s;
          color: #1f1f1f;
          font-size: 20px;
          margin: 20px 0 0 0; }
        body #mainUserContent .content .summarize .title .label {
          font-weight: bold; }
        body #mainUserContent .content .summarize .title .lastMonth {
          font-style: italic; }
      body #mainUserContent .content .summarize table {
        margin: 0 auto 40px auto;
        width: 80%;
        border-collapse: collapse;
        color: #2c2c2c; }
        body #mainUserContent .content .summarize table tr {
          transition: .6s;
          font-size: 18px; }
          body #mainUserContent .content .summarize table tr th {
            height: 30px; }
          body #mainUserContent .content .summarize table tr th:first-child {
            text-align: left; }
          body #mainUserContent .content .summarize table tr th:last-child {
            text-align: right; }
        body #mainUserContent .content .summarize table sub {
          font-size: 10px; }
          body #mainUserContent .content .summarize table sub a {
            color: red; }
        body #mainUserContent .content .summarize table tr:hover {
          background-color: #fafafa; }
        body #mainUserContent .content .summarize table tr:last-child {
          transition: .3s;
          background-color: rgba(81, 163, 240, 0.24); }
    body #mainUserContent .content .summarize:hover {
      background-color: whitesmoke; }
      body #mainUserContent .content .summarize:hover .title h4, body #mainUserContent .content .summarize:hover .title p {
        color: black; }
      body #mainUserContent .content .summarize:hover table {
        color: black; }
    body #mainUserContent .content .information {
      border-radius: 0 12px 12px 0;
      background-color: rgba(173, 216, 230, 0.562);
      width: 45%;
      min-width: 350px; }
      body #mainUserContent .content .information table tr {
        font-size: 16px; }
        body #mainUserContent .content .information table tr th:last-child {
          text-align: left; }
      body #mainUserContent .content .information table tr:last-child {
        background-color: rgba(172, 225, 243, 0); }
      body #mainUserContent .content .information table tr:last-child:hover {
        background-color: #d6d4d4; }
    body #mainUserContent .content .information:hover {
      background-color: #a4dcee; }
body #extraInfo {
  background-color: #adadad;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto 20px auto;
  padding: 1px 25px;
  text-align: center; }
  body #extraInfo p {
    width: 100%;
    font-size: 13px; }

@media only screen and (max-width: 700px) and (min-width: 500px) {
  body #mainUserContent {
    padding-top: 90px; }
    body #mainUserContent .userSalut {
      width: 80%; }
      body #mainUserContent .userSalut .userName p {
        font-size: 22px;
        margin-left: 4px; }
    body #mainUserContent .userApartment p {
      font-size: 17px; }
    body #mainUserContent .content {
      margin: 7px auto 40px auto;
      width: 85%;
      display: block; }
      body #mainUserContent .content .summarize {
        border-radius: 12px 12px 0 0;
        padding-bottom: 30px;
        width: 100%;
        padding-top: 10px; }
        body #mainUserContent .content .summarize .title {
          padding-top: 10px;
          margin-top: 0px; }
          body #mainUserContent .content .summarize .title h4 {
            text-align: center;
            font-size: 27px; }
          body #mainUserContent .content .summarize .title p {
            font-size: 19px; }
        body #mainUserContent .content .summarize table tr {
          font-size: 17px; }
      body #mainUserContent .content .information {
        border-radius: 0 0 12px 12px;
        min-width: 0px; }
        body #mainUserContent .content .information table tr th {
          font-size: 15px; }
  body #extraInfo p {
    font-size: 12.5px; } }
@media only screen and (max-width: 500px) and (min-width: 50px) {
  body #mainUserContent {
    padding-top: 100px; }
    body #mainUserContent .userSalut {
      width: 95%; }
      body #mainUserContent .userSalut .userName p {
        font-weight: bold;
        font-size: 15px;
        margin-left: 3px; }
    body #mainUserContent .userApartment p {
      font-size: 16px; }
    body #mainUserContent .content {
      width: 100%;
      margin: 7px auto 45px auto;
      display: block; }
      body #mainUserContent .content .summarize {
        width: 100%;
        padding-bottom: 30px; }
        body #mainUserContent .content .summarize .title {
          padding-top: 20px;
          margin-top: 0px; }
          body #mainUserContent .content .summarize .title h4 {
            text-align: center;
            font-size: 23px; }
          body #mainUserContent .content .summarize .title p {
            font-size: 15px; }
        body #mainUserContent .content .summarize table tr {
          font-size: 15px;
          color: black; }
        body #mainUserContent .content .summarize table sub {
          font-size: 8px; }
          body #mainUserContent .content .summarize table sub a {
            color: red; }
      body #mainUserContent .content .information {
        min-width: 0px; }
        body #mainUserContent .content .information table tr th {
          font-size: 13px; }
  body #extraInfo p {
    font-size: 11px; } }
body .contentHistory {
  transition: .4s;
  padding-top: 120px;
  width: 95%;
  margin: 0 auto 30px auto; }
  body .contentHistory .title {
    transition: .4s;
    margin-bottom: 27px; }
    body .contentHistory .title h5 {
      width: 100%;
      padding: 0px;
      margin: 0px 0 0px 0;
      font-size: 30px; }
  body .contentHistory .pagos {
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
    padding: 11px 20px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 30px; }
    body .contentHistory .pagos .addressInfo {
      transition: .4s;
      display: none;
      width: 100%;
      padding: 0px;
      margin: 0px;
      font-size: 20px; }
    body .contentHistory .pagos .placeRent {
      transition: .4s;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap; }
      body .contentHistory .pagos .placeRent .tableWrapper {
        order: 1;
        width: 60%;
        height: 250px;
        overflow: auto;
        margin: 0 0 0px 0; }
        body .contentHistory .pagos .placeRent .tableWrapper table {
          width: 100%;
          border-collapse: collapse; }
          body .contentHistory .pagos .placeRent .tableWrapper table .headers th {
            font-size: 17px;
            background-color: #d1d0d0; }
          body .contentHistory .pagos .placeRent .tableWrapper table tr {
            transition: .2s; }
            body .contentHistory .pagos .placeRent .tableWrapper table tr th {
              border-bottom: 0.3px solid rgba(136, 136, 136, 0.534);
              min-width: 75px;
              max-width: 80px;
              padding: 9px 18px;
              font-size: 13px;
              font-weight: 10px; }
          body .contentHistory .pagos .placeRent .tableWrapper table tr:hover {
            background-color: #f0f0f0; }
      body .contentHistory .pagos .placeRent .generalInfo {
        order: 2;
        width: 40%; }
        body .contentHistory .pagos .placeRent .generalInfo div {
          width: 80%;
          margin: 0 auto; }
          body .contentHistory .pagos .placeRent .generalInfo div p {
            font-size: 17px; }
    body .contentHistory .pagos .button {
      display: flex;
      width: 90%;
      margin: 0 auto; }
      body .contentHistory .pagos .button button {
        border-radius: 7px;
        background-color: #2f3f47;
        border: 0px;
        color: #fff;
        cursor: pointer;
        transition: all .3s;
        box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.75);
        width: 200px;
        height: 35px;
        margin: 0 0 0 auto; }
      body .contentHistory .pagos .button button:hover {
        background-color: #3d525c; }

@media only screen and (max-width: 700px) and (min-width: 500px) {
  body .contentHistory {
    width: 100%;
    padding-top: 100px; }
    body .contentHistory .title {
      width: 90%;
      margin: 0 auto; }
      body .contentHistory .title h5 {
        font-size: 25px; }
    body .contentHistory .pagos {
      border-radius: 0px;
      padding-top: 0px; }
      body .contentHistory .pagos .placeRent .tableWrapper {
        width: 100%;
        order: 2; }
      body .contentHistory .pagos .placeRent .generalInfo {
        width: 100%;
        order: 1; }
        body .contentHistory .pagos .placeRent .generalInfo div {
          margin: 0; }
          body .contentHistory .pagos .placeRent .generalInfo div p {
            font-size: 17px; }
      body .contentHistory .pagos .button {
        display: flex;
        width: 100%;
        margin: 20px auto 0 auto; }
        body .contentHistory .pagos .button button {
          width: 200px;
          height: 40px;
          margin: 0 auto 0 auto; } }
@media only screen and (max-width: 500px) and (min-width: 50px) {
  body .contentHistory {
    padding-top: 110px;
    width: 100%; }
    body .contentHistory .title {
      margin: 0 auto 20px auto;
      width: 90%; }
      body .contentHistory .title h5 {
        font-size: 23px; }
    body .contentHistory .pagos {
      border-radius: 0px;
      padding: 10px 20px; }
      body .contentHistory .pagos .addressInfo {
        display: inline;
        font-size: 15px; }
      body .contentHistory .pagos .placeRent .tableWrapper {
        width: 100%; }
        body .contentHistory .pagos .placeRent .tableWrapper table .headers th {
          font-size: 15px; }
        body .contentHistory .pagos .placeRent .tableWrapper table tr th {
          font-size: 11px;
          min-width: 40px; }
      body .contentHistory .pagos .placeRent .generalInfo {
        display: none; }
      body .contentHistory .pagos .button {
        display: flex;
        display: none;
        width: 100%;
        margin: 10px auto 0 auto; }
        body .contentHistory .pagos .button button {
          width: 50%;
          font-size: 15px;
          height: 35px;
          margin: 0 auto 0 auto; } }
body #requestSent {
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(212, 212, 212, 0.466); }
  body #requestSent .messageBox {
    transition: .3s;
    position: relative;
    display: inline-block;
    max-width: 900px;
    top: 54%;
    transform: translateY(-44%);
    background-color: #fff;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column; }
    body #requestSent .messageBox #visible {
      display: none; }
    body #requestSent .messageBox .checkMark {
      transition: .3s;
      width: 40%;
      border-radius: 100px;
      margin: auto;
      height: 40%; }
      body #requestSent .messageBox .checkMark div {
        position: absolute;
        top: 33%;
        left: 45%;
        animation-timing-function: linear; }
      body #requestSent .messageBox .checkMark div:nth-child(2)::before {
        content: "";
        position: absolute;
        background-color: #4aff13;
        height: 100%;
        animation-name: checkMark2;
        animation-duration: .6s;
        animation-delay: .7s;
        animation-fill-mode: forwards; }
      body #requestSent .messageBox .checkMark div:nth-child(1)::before {
        content: "";
        position: absolute;
        background-color: #4aff13;
        height: 100%;
        animation-name: checkMark1;
        animation-duration: .5s;
        animation-delay: .2s;
        animation-fill-mode: forwards; }
      body #requestSent .messageBox .checkMark div:nth-child(1) {
        display: inline-block;
        width: 50px;
        transform: rotate(40deg);
        height: 25px; }
      body #requestSent .messageBox .checkMark div:nth-child(2) {
        display: inline-block;
        transform: translate(25.5%, -93%) rotate(310deg);
        width: 80px;
        height: 25px; }
@keyframes checkMark1 {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes checkMark2 {
  from {
    width: 0; }
  to {
    width: 80px; } }
    body #requestSent .messageBox .messageSent {
      transition: .3s;
      height: 55%;
      text-align: center; }
      body #requestSent .messageBox .messageSent p {
        width: 90%;
        margin: 50px auto;
        font-size: 50px; }
body .contentRequest {
  transition: .3s;
  padding-top: 120px; }
  body .contentRequest .title {
    transition: .3s;
    width: 90%;
    margin: 0 auto 15px auto; }
    body .contentRequest .title h5 {
      font-size: 35px;
      padding: 0;
      margin: 0; }
  body .contentRequest .formContent {
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
    background-color: #f1f0f0;
    width: 85%;
    margin: 0 auto;
    padding-top: 15px;
    border-radius: 17px;
    z-index: -999; }
    body .contentRequest .formContent .icon {
      z-index: 0;
      padding: 0;
      position: absolute;
      margin: 30px 50px 0 10%;
      transform: rotate(-35deg); }
      body .contentRequest .formContent .icon i {
        font-size: 250px;
        color: rgba(173, 216, 230, 0.24); }
    body .contentRequest .formContent .information {
      z-index: 10;
      order: 2;
      width: 90%;
      padding-top: 20px;
      margin: 0 auto 0 auto; }
      body .contentRequest .formContent .information #red {
        color: red;
        font-weight: bold;
        z-index: 50; }
      body .contentRequest .formContent .information #blue {
        color: #000291;
        font-weight: bold;
        z-index: 999; }
      body .contentRequest .formContent .information p {
        color: #222222;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        padding: 0px;
        margin: 0;
        z-index: 9999; }
      body .contentRequest .formContent .information .detail {
        font-size: 19px;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 15px; }
    body .contentRequest .formContent .form {
      width: 100%; }
      body .contentRequest .formContent .form form {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin: 0px auto 30px auto;
        padding: 20px 0 50px 0; }
        body .contentRequest .formContent .form form label:nth-child(7)::before, body .contentRequest .formContent .form form label:nth-child(9)::before {
          content: "*";
          color: red; }
        body .contentRequest .formContent .form form label {
          font-size: 15px;
          font-weight: bold; }
        body .contentRequest .formContent .form form input, body .contentRequest .formContent .form form textarea, body .contentRequest .formContent .form form select {
          z-index: 10;
          background-color: #fff;
          border: none;
          width: 100%;
          margin-bottom: 20px; }
        body .contentRequest .formContent .form form select {
          border-radius: 10px 0 0 10px;
          height: 32px; }
        body .contentRequest .formContent .form form input, body .contentRequest .formContent .form form textarea {
          border-radius: 10px;
          padding: 7px; }
        body .contentRequest .formContent .form form textarea {
          height: 130px; }
        body .contentRequest .formContent .form form button {
          border-radius: 7px;
          background-color: #2f3f47;
          border: 0px;
          color: #fff;
          cursor: pointer;
          transition: all .3s;
          box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.75);
          margin: 10px auto 0 auto;
          width: 300px;
          height: 45px; }
        body .contentRequest .formContent .form form button:hover {
          background-color: #3d525c; }

@media only screen and (max-width: 700px) and (min-width: 500px) {
  body #requestSent .messageBox .checkMark div {
    top: 35%;
    left: 41%; }
  body #requestSent .messageBox .messageSent {
    height: 50%; }
    body #requestSent .messageBox .messageSent p {
      margin: 40px auto;
      font-size: 40px; }
  body .contentRequest {
    padding-top: 100px; }
    body .contentRequest .title h5 {
      font-size: 33px; }
    body .contentRequest .formContent .information {
      width: 85%; }
      body .contentRequest .formContent .information p {
        font-size: 24px; }
      body .contentRequest .formContent .information .detail {
        font-size: 17px; }
    body .contentRequest .formContent .form form {
      padding: 10px 0 50px 0; }
      body .contentRequest .formContent .form form button {
        margin: 10px auto 0 auto; } }
@media only screen and (max-width: 500px) and (min-width: 50px) {
  body #requestSent {
    margin-top: -10px; }
    body #requestSent .messageBox {
      width: 90%; }
      body #requestSent .messageBox .checkMark div {
        top: 30%;
        left: 39%; }
      body #requestSent .messageBox .messageSent {
        height: 45%; }
        body #requestSent .messageBox .messageSent p {
          margin: 10px auto;
          font-size: 35px; }
  body .contentRequest {
    padding-top: 110px; }
    body .contentRequest .title {
      margin-bottom: 13px; }
      body .contentRequest .title h5 {
        font-size: 24px; }
    body .contentRequest .formContent {
      padding-top: 0px;
      padding-bottom: 0px; }
      body .contentRequest .formContent .icon i {
        font-size: 140px; }
      body .contentRequest .formContent .information {
        width: 80%; }
        body .contentRequest .formContent .information p {
          font-size: 23px; }
        body .contentRequest .formContent .information .detail {
          font-size: 15px; }
      body .contentRequest .formContent .form form {
        padding: 10px 0 30px 0; }
        body .contentRequest .formContent .form form label {
          font-size: 12px; }
        body .contentRequest .formContent .form form input, body .contentRequest .formContent .form form textarea, body .contentRequest .formContent .form form select {
          font-size: 15px; }
        body .contentRequest .formContent .form form textarea {
          height: 100px; }
        body .contentRequest .formContent .form form button {
          margin: 20px auto 0 auto;
          width: 50%;
          height: 35px; } }
body .memberBody {
  transition: .6s;
  background-color: whitesmoke;
  padding-top: 130px;
  width: 100%;
  padding-bottom: 50px; }
  body .memberBody .content, body .memberBody .salute {
    transition: 1.6s;
    padding: 24px 15px 15px 15px;
    -webkit-box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.75); }
  body .memberBody .salute {
    transition: 1.6s;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: auto;
    width: 80%;
    border-radius: 10px 10px 0 0; }
    body .memberBody .salute i, body .memberBody .salute p {
      transition: 1.6s;
      padding: 0;
      margin: 0;
      font-size: 33px; }
    body .memberBody .salute i {
      margin-right: 15px; }
    body .memberBody .salute .yellow {
      color: #fff242; }
    body .memberBody .salute .orange {
      color: #ffb342; }
    body .memberBody .salute .blue {
      color: #4294ff; }
  body .memberBody .content {
    transition: 1.6s;
    width: 90%;
    background-color: #fff;
    padding-bottom: 40px;
    border-radius: 17px;
    margin: auto; }
    body .memberBody .content .section {
      border-top: 2px solid rgba(90, 89, 89, 0.253);
      margin: 35px auto 0 auto;
      width: 95%; }
      body .memberBody .content .section p {
        font-size: 25px;
        margin: 0px;
        padding: 10px 18px; }
      body .memberBody .content .section .list {
        overflow: scroll;
        background-color: gray;
        width: 100%;
        height: 300px; }
        body .memberBody .content .section .list table {
          border-collapse: collapse;
          min-width: 600px;
          background-color: #fff;
          width: 100%; }
          body .memberBody .content .section .list table th {
            border: 0.5px solid rgba(88, 88, 88, 0.521); }
          body .memberBody .content .section .list table td:nth-child(1), body .memberBody .content .section .list table td:nth-child(2), body .memberBody .content .section .list table td:nth-child(4), body .memberBody .content .section .list table td:nth-child(5), body .memberBody .content .section .list table td:nth-child(6) {
            text-align: center;
            vertical-align: middle; }
          body .memberBody .content .section .list table td {
            border: 0.5px solid rgba(88, 88, 88, 0.301);
            padding: 10px 15px; }
            body .memberBody .content .section .list table td button {
              border-radius: 7px;
              background-color: #2f3f47;
              border: 0px;
              color: #fff;
              cursor: pointer;
              transition: all .3s;
              box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.75);
              margin: 0px auto 0 auto;
              width: 90%;
              min-width: 80px;
              height: 35px; }
          body .memberBody .content .section .list table tr:hover {
            background-color: #f5ffd1; }
          body .memberBody .content .section .list table tr:first-child:hover {
            background-color: #fff; }

@media only screen and (max-width: 700px) and (min-width: 500px) {
  body .memberBody {
    padding-top: 110px; }
    body .memberBody .salute {
      width: 70%;
      justify-content: center; }
      body .memberBody .salute i, body .memberBody .salute p {
        font-size: 24px; }
      body .memberBody .salute i {
        margin-right: 10px; }
    body .memberBody .content {
      width: 90%;
      padding: 13px;
      border-radius: 0 0 17px 17px; }
      body .memberBody .content .section p {
        font-size: 22px;
        padding: 10px 10px; }
      body .memberBody .content .section .list {
        height: 200px; }
        body .memberBody .content .section .list table th {
          font-size: 17px; }
        body .memberBody .content .section .list table td {
          font-size: 14px; } }
@media only screen and (max-width: 500px) and (min-width: 50px) {
  body .memberBody {
    padding-top: 100px; }
    body .memberBody .salute {
      padding: 0;
      width: 100%;
      justify-content: center;
      border-radius: 0px 0px 0 0; }
      body .memberBody .salute i, body .memberBody .salute p {
        margin: 0;
        font-size: 20px; }
      body .memberBody .salute i {
        padding: 13px 13px 13px 0px; }
      body .memberBody .salute p {
        padding: 13px 0px 13px 0px; }
    body .memberBody .content {
      width: 100%;
      padding: 10px 0 30px 0;
      margin: 0;
      border-radius: 0 0 17px 17px; }
      body .memberBody .content .section p {
        font-size: 20px;
        padding: 10px 10px; }
      body .memberBody .content .section .list {
        height: 200px; }
        body .memberBody .content .section .list table th {
          font-size: 15px; }
        body .memberBody .content .section .list table td {
          font-size: 13px; } }
header {
  z-index: 99999; }

textarea {
  resize: none; }

#error-login {
  width: 100%;
  padding: 20px 0;
  -webkit-box-shadow: 0px 10px 21px 4px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 10px 21px 4px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 21px 4px rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: red; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

body {
  background-color: whitesmoke; }

input:focus, button:focus, select:focus, textarea:focus {
  outline: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/*# sourceMappingURL=styles.css.map */
