header {
  z-index: 50;
  position: fixed;
  width: 100%;
  background-color: lightblue;
  height: 100px;
  -webkit-box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.75); }
  header .centralize {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    height: 100%; }
    header .centralize a h1 {
      font-size: 50px; }
    header .centralize .menu {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .centralize .menu nav {
        margin: 0;
        padding: 0;
        width: 40%;
        min-width: 260px;
        transition: 0.5s ease; }
        header .centralize .menu nav ul {
          margin: 0;
          display: flex;
          justify-content: space-around;
          padding: 0; }
          header .centralize .menu nav ul .login, header .centralize .menu nav ul .cntct {
            display: none; }
          header .centralize .menu nav ul li {
            transition: 0.5s ease; }
            header .centralize .menu nav ul li a {
              font-size: 16px;
              padding: 6px; }
            header .centralize .menu nav ul li a:hover {
              font-weight: bold; }
      header .centralize .menu #form-login {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px; }
        header .centralize .menu #form-login div {
          display: none; }
        header .centralize .menu #form-login form {
          width: 100%;
          display: flex;
          justify-content: flex-end; }
          header .centralize .menu #form-login form input {
            border: 0.5px solid rgba(0, 0, 0, 0);
            width: 33%;
            max-width: 150px;
            border-radius: 7px;
            margin-right: 15px;
            height: 20px; }
          header .centralize .menu #form-login form button {
            border-radius: 7px;
            background-color: #2f3f47;
            border: 0px;
            color: #fff;
            width: 70px;
            cursor: pointer;
            transition: all .3s;
            box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.75); }
          header .centralize .menu #form-login form input:hover {
            border: 0.5px solid rgba(0, 0, 0, 0.7); }
          header .centralize .menu #form-login form button:hover {
            background-color: #3c505a; }
          header .centralize .menu #form-login form button:active {
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }
      header .centralize .menu .contact-hiden {
        display: none; }

@media only screen and (max-width: 700px) {
  header {
    background-color: lightblue;
    height: 80px; }
    header .centralize #menu #form-login {
      top: 0px;
      left: 0;
      position: absolute;
      flex-direction: column;
      background-color: lightblue;
      height: 100%;
      justify-content: center;
      z-index: 4;
      justify-content: center;
      align-items: center; }
      header .centralize #menu #form-login div {
        display: flex;
        font-size: 46px;
        z-index: 10;
        margin: 5% 0 -10% 0;
        padding: 0; }
      header .centralize #menu #form-login form {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15%;
        align-items: center;
        height: 400px;
        flex-direction: column; }
        header .centralize #menu #form-login form input {
          border: 0px;
          border-bottom: 1px solid rgba(92, 192, 192, 0.8);
          max-width: 900px;
          width: 70%;
          height: 30px;
          margin-bottom: 40px; }
        header .centralize #menu #form-login form button {
          width: 40%;
          height: 40px; }
    header .centralize #menu .hiden {
      display: none; }
    header .centralize #menu .contact-hiden {
      display: none; }
    header .centralize #menu #contact {
      position: relative;
      background-color: lightblue;
      height: 100%;
      top: 0; }
      header .centralize #menu #contact p {
        padding-top: 0px;
        width: 100%;
        text-align: center;
        font-size: 40px; }
      header .centralize #menu #contact form {
        width: 80%;
        margin: 0 auto;
        padding-top: 0; }
        header .centralize #menu #contact form input {
          width: 100%;
          height: 30px;
          margin-bottom: 20px; }
        header .centralize #menu #contact form input[type=textarea] {
          padding-bottom: 50px; }
        header .centralize #menu #contact form button {
          margin: 0 50% 0 50%;
          transform: translateX(-50%);
          width: 30%;
          height: 35px; }
    header .centralize .hide {
      display: none; }
    header .centralize #menu {
      top: 65px;
      left: 0;
      position: absolute;
      background-color: lightblue;
      height: 100vh;
      justify-content: center; }
      header .centralize #menu nav {
        width: 100%;
        transform: translateY(-50px); }
        header .centralize #menu nav ul {
          flex-direction: column; }
          header .centralize #menu nav ul .login {
            display: flex;
            background-color: #2f3f47; }
            header .centralize #menu nav ul .login a {
              color: white; }
          header .centralize #menu nav ul li {
            display: flex;
            justify-content: center;
            margin: 9px 0; }
            header .centralize #menu nav ul li a {
              font-size: 40px;
              width: 100%;
              text-align: center;
              cursor: pointer; }
          header .centralize #menu nav ul li:hover {
            background-color: #3c505a; } }
@media only screen and (orientation: landscape) and (max-width: 700px) {
  header .centralize #menu #form-login div {
    visibility: hidden; }
  header .centralize #menu #nav ul li {
    margin: 5px 0; }
    header .centralize #menu #nav ul li a {
      font-size: 30px; } }
@media only screen and (orientation: landscape) {
  #contact {
    margin-top: 10%; }
    #contact p {
      display: none; } }
#menu-hamburger {
  display: none;
  position: absolute;
  top: 27px;
  right: 7%;
  width: 40px;
  height: 35px;
  margin: 0px 0 20px 20px;
  cursor: pointer;
  z-index: 100; }
  #menu-hamburger .bar {
    height: 8px;
    width: 100%;
    background-color: #000;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease; }

.burger #bar2 {
  margin: 2px 0; }
.burger #bar1 {
  transform: translateY(-4px); }
.burger #bar3 {
  transform: translateY(4px); }

.burger-close #bar2 {
  display: none; }
.burger-close #bar1 {
  transform: translateY(6px) rotateZ(-45deg); }
.burger-close #bar3 {
  transform: translateY(-1px) rotateZ(45deg); }

@media only screen and (max-width: 700px) {
  #menu-hamburger {
    display: block; } }
body #options {
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -5px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -5px 16px -2px rgba(0, 0, 0, 0.75);
  padding: 15px 35px 30px 35px; }
  body #options #form {
    padding: 10px;
    background-color: #dddcdc; }
    body #options #form h2 {
      padding: 0 0 10px 0;
      margin: 0;
      font-size: 26px; }
    body #options #form div {
      display: inline-flex;
      width: 70%;
      min-width: 500px;
      justify-content: space-between;
      align-items: center; }
    body #options #form button {
      border: 0px;
      margin: 15px 0 5px 0;
      padding: 8px 55px;
      display: inline-flex;
      text-align: center;
      align-items: center;
      margin-left: 15px;
      transition: .3s ease; }
    body #options #form button:hover {
      background-color: lightgray; }
    body #options #form .default {
      display: none; }
    body #options #form #advanced div {
      width: 60%;
      min-width: 550px; }
      body #options #form #advanced div label:nth-child(2) input[type=text] {
        text-align: right; }

@media only screen and (max-width: 700px) {
  body #options {
    padding: 0; }
    body #options #form h2 {
      font-size: 23px; }
    body #options #form button {
      display: flex;
      margin: 15px auto;
      justify-content: center;
      padding: 15px 0;
      width: 80%;
      max-width: 200px; }
    body #options #form div {
      flex-direction: column;
      min-width: 100px;
      height: 100px;
      align-items: flex-start; }
    body #options #form #advanced {
      padding-bottom: 50px;
      min-width: 0px; }
      body #options #form #advanced div {
        width: 60%;
        min-width: 0px; }
        body #options #form #advanced div label:nth-child(1) {
          min-width: 0px;
          width: 100%; }
          body #options #form #advanced div label:nth-child(1) input[type=date] {
            min-width: 100px;
            width: 100%; }
        body #options #form #advanced div label:nth-child(2) {
          min-width: 130px;
          margin-top: 20px; }
          body #options #form #advanced div label:nth-child(2) i {
            padding-right: 20px; }
          body #options #form #advanced div label:nth-child(2) input[type=text] {
            text-align: right;
            width: 70%;
            max-width: 100px; } }
#banner {
  background-color: gray;
  width: 100%;
  height: 230px;
  padding-top: 135px;
  z-index: -1; }
  #banner .img {
    width: 100%;
    background-color: gray;
    height: 200px;
    background-image: url(../img/mainBanner.jpg);
    background-position: 40% bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    overflow: hidden;
    position: absolute; }

@media only screen and (max-width: 700px) {
  #banner {
    padding-top: 80px;
    height: 130px; }
    #banner .img {
      height: 130px;
      background-position: 15% -50px; } }
@media only screen and (max-height: 400px) and (max-width: 700px) {
  #banner .img {
    height: 130px;
    background-position: 30% -30px; } }
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0f2830;
  z-index: 20; }
  footer #conteiner {
    color: #fff;
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0; }
    footer #conteiner .items a i, footer #conteiner .items p {
      color: #fff; }
    footer #conteiner div {
      align-items: stretch;
      flex-grow: 1; }
    footer #conteiner div:nth-child(1) {
      padding-top: 37px; }
      footer #conteiner div:nth-child(1) h2 {
        margin: 10px 0 25px 0;
        padding: 0;
        width: 100%;
        text-align: center; }
      footer #conteiner div:nth-child(1) p {
        text-align: center; }
    footer #conteiner div:nth-child(2) {
      flex-grow: 2; }
      footer #conteiner div:nth-child(2) p {
        width: 100%;
        text-align: center;
        margin: 5px 0 15px 0;
        font-weight: bold;
        font-size: 25px; }
      footer #conteiner div:nth-child(2) form {
        display: block;
        width: 90%;
        margin: 0 auto; }
        footer #conteiner div:nth-child(2) form input[type=text] {
          width: 48%;
          margin: 0;
          padding: 0; }
        footer #conteiner div:nth-child(2) form input:nth-child(3) {
          margin: 10px 0 15px 0;
          width: 97%;
          padding: 0; }
        footer #conteiner div:nth-child(2) form input[type=textarea] {
          padding: 0;
          width: 97%;
          padding: 0px 0 50px 0; }
        footer #conteiner div:nth-child(2) form button {
          display: block;
          margin: 20px auto 0 auto;
          padding: 0 10px;
          width: 100px; }
    footer #conteiner div:nth-child(3) {
      padding-top: 35px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      color: black;
      margin-right: 10px; }
      footer #conteiner div:nth-child(3) p {
        text-align: center;
        width: 100%;
        margin: 10px 0;
        font-weight: bold;
        font-size: 20px; }
      footer #conteiner div:nth-child(3) a {
        margin: 5px 0;
        color: black;
        text-align: center;
        font-size: 20px; }

@media only screen and (max-width: 700px) {
  footer #conteiner div:nth-child(2) {
    display: none; } }
/*
body{
    #bodyContent{
        background-color: #fff;
        display: block;
        -webkit-box-shadow: 0px 0px 19px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 19px -15px rgba(0,0,0,0.75);
        box-shadow:0 11px 0px 0px white, 0 -19px 0px 0px white, 0px 0px 19px -15px rgba(0,0,0,0.75);
        width: 95%;
        margin: 9px auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        .aptos{
            margin: 10px 3px 25px 25px;
            display: inline-block;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
            width: 280px;
            height: 330px;
            border-radius: 15px;
            .img{
                background-color: black;
                border-radius: 15px 15px 0 0;
                margin: 0;
                padding: 0;
                width: 280px;
                top: 0;
                left: 0;
                height: 226px;
                .price{
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    background-color: #fff;
                    border-radius: 4px 0px 4px 0;
                    padding: 3px 15px;
                }
            }
            .info{
                background-color: #fff;
                border-radius: 0px 0px 15px 15px;
                margin: 0;
                padding: 4px 0 0 0;
                height: 100px;
                width: 280px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                p{
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    max-width: 275px;
                    background-color: #fff;
                    max-height: 85px;
                }
                p:nth-child(3), p:nth-child(4){
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
}
*/
body #bodyContent {
  background-color: #fff;
  display: block;
  -webkit-box-shadow: 0px 0px 19px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0 11px 0px 0px white, 0 -19px 0px 0px white, 0px 0px 19px -15px rgba(0, 0, 0, 0.75);
  width: 95%;
  margin: 9px auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
    /*.apto-card:hover{
        -webkit-box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
box-shadow: 0px 0px 41px -20px rgba(0,0,0,0.75);
        width: 284px;
        height: 332;
        .aptos{
            .img,.info{
                width: 284px;
            }
            .img{
                height: 229px;
            }
            .info{
                height: 103px;
            }
        }
    }*/ }
  body #bodyContent .apto-card {
    transition: all .3s ease;
    margin: 10px 3px 25px 25px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 280px;
    height: 330px;
    border-radius: 15px; }
    body #bodyContent .apto-card .aptos {
      position: relative; }
      body #bodyContent .apto-card .aptos .img {
        transition: all .3s ease;
        background-color: black;
        border-radius: 15px 15px 0 0;
        margin: 0;
        padding: 0;
        width: 280px;
        top: 0;
        left: 0;
        height: 226px; }
        body #bodyContent .apto-card .aptos .img .price {
          position: absolute;
          margin: 0;
          padding: 0;
          background-color: #fff;
          border-radius: 4px 0px 4px 0;
          padding: 3px 15px; }
      body #bodyContent .apto-card .aptos .info {
        transition: all .3s ease;
        background-color: #fff;
        border-radius: 0px 0px 15px 15px;
        margin: 0;
        padding: 4px 0 0 0;
        height: 100px;
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; }
        body #bodyContent .apto-card .aptos .info p {
          text-align: center;
          margin: 0;
          padding: 0;
          max-width: 275px;
          background-color: #fff;
          max-height: 85px; }
        body #bodyContent .apto-card .aptos .info p:nth-child(1) {
          font-weight: bold; }
        body #bodyContent .apto-card .aptos .info p:nth-child(3), body #bodyContent .apto-card .aptos .info p:nth-child(4) {
          font-weight: bold;
          font-size: 18px; }

@media only screen and (max-width: 700px) {
  body #bodyContent {
    margin: 0;
    box-shadow: none;
    padding-top: 35px;
    width: 100%; }
    body #bodyContent .apto-card {
      width: 240px;
      height: 290px; }
      body #bodyContent .apto-card .aptos .img {
        height: 205px;
        width: 100%; }
      body #bodyContent .apto-card .aptos .info {
        padding-top: 10px;
        height: 70px;
        width: 100%; }
        body #bodyContent .apto-card .aptos .info .amount {
          display: none; }
        body #bodyContent .apto-card .aptos .info .comments {
          order: 5; }
    body #bodyContent .apto-card:hover {
      width: 240px;
      height: 290px; }
      body #bodyContent .apto-card:hover .aptos .img {
        height: 205px;
        width: 100%; }
      body #bodyContent .apto-card:hover .aptos .info {
        padding-top: 10px;
        height: 70px;
        width: 100%; } }
@media only screen and (max-width: 550px) {
  body #bodyContent {
    margin: 0;
    box-shadow: none;
    padding-top: 35px;
    width: 100%; }
    body #bodyContent .apto-card {
      display: flex;
      flex-wrap: wrap;
      margin: 0px auto 35px auto; } }
li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

body {
  background-color: whitesmoke; }

input:focus, button:focus, select:focus {
  outline: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/*# sourceMappingURL=styles.css.map */
